:root {
    --secondary-color: #C3E3BB;
    --primary-color: #427360;
    --text-color: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x:hidden;
    background: var(--primary-color);
    width: 100%;  
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
font-size: 56px;
}
h2{
font-size: 45px;
}
h3{
font-size: 35px;
}
h4{
font-size: 27px;
}
h5{
font-size: 21px;
}
h6{
font-size: 16px;
}

/* 
header & navbar
*/

header{
    right: 0px;
    top: 0vh;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    min-width: 350px;
    padding: 10px 80px;
    background: var(--secondary-color);
}

header a img{
        width: 206px;
        padding: 5px;
        
        margin-right: 50px;
}

/*nav-bar*/

#nav-buttons{
    list-style: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 300px;
    right: -300px;
   align-items: flex-start;
   justify-content: flex-start;
   background-color: var(--secondary-color);
   padding: 80px 0 0 10px;
   transition: 0.3s ease;
   box-shadow: 0 40px 100px rgba(70, 62, 221, 0.1);
}

#close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 21px;
}

#nav-buttons.active{
    right: 0px;
}

#nav-mobile i {
    color: #1d1a0c;
    font-size: 24px;
    padding: 20px;
}

#nav-buttons li {
    list-style: none;
   padding: 30px;
}
#nav-buttons li a {
    text-decoration: none;
    color: var(--text-color);
}
#nav-buttons ul li a h2{
    display: flex;
    border:3px solid var(--text-color);
}
/*
Hero
*/

#hero{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0 0 20px;
}

#hero-img{
justify-content: center;
}

#hero-description-title{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    padding: 0px 20px;
}

#hero-description-title h1{
    font-size: 45px;
    margin-bottom: 20px;
}


#hero-description{
     padding: 0 10px;
    text-align: center;
}

/*
feature
*/

#feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px 0;
    color: #ffffff;
   
}
#feature-title{
    padding: 20px 0;
    text-align: center;
   
}

#feature-description{
    font-weight:200;
    padding: 0 20px;
    display: flex;
    text-align: center;
}


#feature-list{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

#feature-list ul{
    display: grid;
    
}
#feature-list li{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
}

#feature-list li img{
    padding: 20px 11vw 20px 0 ;
    width: 100%;
    
}

#feature-list li p{
    text-align: center;
    display: grid;
}

#about{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
    text-align: center;
}

.about-desc{
    padding: 20px 0 30px ;

}
.about-desc h3{
    padding: 0 0 30px ;
}
/*
footer
*/
footer{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 30px;
    align-items: center;
}

#footer-elements{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
#footer-elements a{

    display: flex;
    font-size: 16px;
    
    text-decoration: none;
    color:#222;
    margin-bottom: 10px;
}
#footer-elements h5{
    padding: 0 5px;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color:#000000;
    margin-bottom: 10px;
}
#nav-buttons.active{
    display: flex;
}

/*C3E3BB*/ 